.product{
    display: flex;
    border-bottom: 2px solid gray;
  
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
}
.name{
    color: blueviolet;;
    font-weight: 400px;
}
.button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
}